body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  justify-content: space-between; /* Add space between children */
  align-items: center; /* Vertically center children */
  position: fixed; /* Fix the header to the top of the viewport */
  top: 0; /* Position at the top */
  left: 0; /* Position at the left */
  z-index: 1000; /* Ensure it appears above other content */
}

#logo {
  width: max(100px, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35/4;
  padding: 0.4rem;
}

header {
  height: 50px;
  width: 100%;
  background-color: #1b1b32;
  display: flex;
}

/* Adjust h1 to wrap text and align center */
h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: center; /* Align text to the center */
}

/* Add padding to main content */
main {
  padding-top: 50px; /* Adjust as needed to ensure the "Student Info" section header is fully visible */
}

nav {
  width: 50%;
  max-width: 300px;
  height: 50px;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

/* Remove underline from anchor tags within list items */
li > a {
  text-decoration: none;
}

/* Style navigation list elements on hover */
nav > ul > li:hover {
  background-color: #dfdfe2; /* Change to the desired background color */
  color: #1b1b32; /* Change to the desired text color */
  cursor: pointer; /* Change cursor to pointer */
}

h1, h2 {
  font-family: Verdana, Tahoma;
}

h2 {
  border-bottom: 4px solid #dfdfe2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

p::before {
  content: "Question #";
}
